.footer {
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 90;
  height: 60px;
  max-height: 60px;
  position: fixed;
  padding: 1rem;
  background-color: var(--mantine-color-white);
  box-sizing: border-box;
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}
